# Entorno virtual
venv/

# Archivos temporales de Python
__pycache__/
*.pyc

# Archivos de logs
logs/
*.log

# Archivos de VS Code (opcional, si usás VS Code)
.vscode/

# Archivos del sistema (opcional)
.DS_Store
Thumbs.db
